<!--
  Generated template for the TheBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>The Board</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="dark">
      <ion-icon name="md-add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="AddToDo()">
        <ion-icon name="md-clipboard"></ion-icon>
      </button>
      <button ion-fab (click)="AddProject()">
        <ion-icon name="md-git-network"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <div padding>
    <ion-segment [(ngModel)]="TheBoard">
      <ion-segment-button value="To-Dos">
        To-Dos
      </ion-segment-button>
      <ion-segment-button value="Tasks">
        Tasks
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="TheBoard">
    <ion-list *ngSwitchCase="'To-Dos'">
      <ion-item *ngFor="let item of ListToDos | async">
        <ion-card>
          <div class="todo-list">
            <ion-card-header> {{item.Title}}</ion-card-header>
            <ion-card-content>
              <div class="todo" *ngFor="let item2 of item.ToDo; let i = index">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id='todo{{item.Title.replace(" ","")+i}}'>
                  <label class="custom-control-label" for='todo{{item.Title.replace(" ","")+i}}'> {{item2.todo}}
                    <span class="text-red small"></span>
                  </label>
                </div>
              </div>
            </ion-card-content>
          </div>
        </ion-card>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'Tasks'">
      <ion-item>
        <task></task>
        <task></task>
        <task></task>
        <task></task>
        <task></task>
      </ion-item>
    </ion-list>
  </div>
</ion-content>